<% provide(:title, "Log in") %>
<h1>Log in</h1>

<div class="row">
  <div class="col-md-6 col-md-offset-3">
    <%= form_for(:session, :html => {class: 'form-horizontal' }, url: login_path) do |f| %>
      <div class="form-group">
        <div class="control-label col-sm-2">
          <%= f.label :email %>
        </div>
        <div class="col-sm-8">
          <%= f.text_field :email, class: 'form-control', placeholder: 'Enter email' %>
        </div>
      </div>

      <div class="form-group">
        <div class="control-label col-sm-2">
          <%= f.label :password %>
        </div>
        <div class="col-sm-8">
          <%= f.password_field :password, class: 'form-control', placeholder: 'Enter password' %>
        </div>
      </div>
      <div class="form-group">
        <div class="col-sm-offset-2 col-sm-10">
          <%= f.submit 'Log in', class: 'btn btn-primary' %>
        </div>
      </div>
    <% end %>
    <div class="col-md-6 col-md-offset-6">
      <p>New user? <%= link_to 'Sign up now!', new_registration_path %></p>
    </div>
  </div>
</div>
