<% if current_user %>
  <h5>Your comment</h5>
  <%= form_for([@event, object], html: { multipart: true, :class => 'form-horizontal' }) do |f| %>
    <div class="form-group col-md-12">
      <%= f.text_area :description, :class => 'form-control', placeholder: 'Comment must be at least 10 characters long' %>
    </div>
    <div>
      <%= f.submit nil, :class => 'btn btn-primary' %>
    </div>
  <% end %>
<% end %>
