<% if @comments.size> 0 %>
  <h5>Comments</h5>
  <div class="table-responsive">
    <table class="table">
      <% @comments.each do |comment| %>
        <tr>
          <td>
            <div id="show-comment<%= comment.id %>" >
              <%= render 'comments/show', object: comment %>
            </div>
            <% if current_user && current_user == comment.user %>
              <div id="edit-comment<%= comment.id %>" style="display: none;">
              </div>
            <% end %>
          </td>
        </tr>
      <% end %>
    </table>
  </div>
<% end %>
