<h5><%= object.user.first_name %></h5>
<small>
  Posted <%= time_ago_in_words(object.created_at) %> ago; Last updated: <%= time_ago_in_words(object.updated_at) %> ago
</small>
<br>
<h5><%= object.description %></h5>
<% if current_user == object.user %>
  <br>
  <div data-id="<%= object.id %>">
    <%= link_to ("<i class='fa fa-edit'></i>" + 'Edit').html_safe,
                edit_event_comment_path(@event, object),
                remote: true,
                :class => 'edit-comment' %> |
    <%= link_to ("<i class='fa fa-trash'></i> " + 'Delete').html_safe,
                event_comment_path(@event, object),
                :method => 'delete',
                :data => { :confirm => 'Are you sure you want to delete this comment?' } %>
  </div>
<% end %>

