<% @users.each do |user| %>
  <tr>
    <td>
      <%= user.full_name %>
    </td>
    <td>
      <%= user.email %>
    </td>
    <td>
      <%= user.is_admin ? 'Yes' : 'No' %>
    </td>
    <td>
      <%= user.is_active ? 'Yes' : 'No'%>
    </td>
    <td>
      <%= link_to user.is_active ? 'Deactivate' : 'Activate',
                  switch_activation_user_path(user),
                  method: :put,
                  class: user.is_active ? 'btn btn-xs btn-info' : 'btn btn-xs btn-success' %>
      <%= link_to 'Delete',
                  user_path(user),
                  method: 'delete',
                  data: { confirm: 'Are you sure you want to delete this user?' },
                  class: 'btn btn-xs btn-danger' %>
      <% unless user.is_admin %>
        <%= link_to 'Promote to admin',
                    promote_user_path(user),
                    method: 'put',
                    class: 'btn btn-xs btn-primary' %>
      <% end %>
    </td>
  </tr>
<% end %>
