<% provide(:title, 'Admin console') %>
<h1>Manage Users</h1>
<table class="table table-hover">
  <tr>
    <th>Name</th>
    <th>Email</th>
    <th>Admin</th>
    <th>Active</th>
    <th>Actions</th>
  </tr>
  <%= render 'list_users' %>
</table>
