<% provide(:title, 'Sign up') %>
<h1 align="center">Sign up</h1>

<%= render 'shared/error_messages', object: @user %>

<div class='row'>
  <div class='col-xs-12'>
    <%= form_for(@user, :html => {class: 'form-horizontal' }) do |f| %>
      <div class="form-group">
        <div class="control-label col-sm-2">
          <%= f.label :first_name %>
        </div>
        <div class="col-sm-8">
          <%= f.text_field :first_name, class: 'form-control', placeholder: 'Enter first_name', autofocus: true %>
        </div>
      </div>

      <div class="form-group">
        <div class="control-label col-sm-2">
          <%= f.label :last_name %>
        </div>
        <div class="col-sm-8">
          <%= f.text_field :last_name, class: 'form-control', placeholder: 'Enter last_name', autofocus: true %>
        </div>
      </div>

      <div class="form-group">
        <div class="control-label col-sm-2">
          <%= f.label :email %>
        </div>
        <div class="col-sm-8">
          <%= f.text_field :email, class: 'form-control', placeholder: 'Enter email' %>
        </div>
      </div>

      <div class="form-group">
        <div class="control-label col-sm-2">
          <%= f.label :password %>
        </div>
        <div class="col-sm-8">
          <%= f.password_field :password, class: 'form-control', placeholder: 'Enter password' %>
        </div>
      </div>

      <div class="form-group">
        <div class="col-sm-offset-2 col-sm-10">
          <%= f.submit('Sign up', class: 'btn btn-primary btn-lg') %>
        </div>
      </div>
    <% end %>
    <div class="col-xs-4 col-xs-offset-4">
      [ <%= link_to 'Cancel request and return to events listing', root_path %> ]
    </div>
  </div>
</div>
