<div class="container">
  <div class="jumbotron">
    <h1>EventMe</h1>
    <p>Welcome to EventMe app, the place where you can find events for you to participate.</p>
  </div>
  <p>This is some text.</p>
  <p>This is another text.</p>
</div>
