<% if logged_in? %>
  <% if current_user.owner_of?(object) %>
    <%= link_to ("<i class='fa fa-edit'></i> " + 'Edit').html_safe,
                edit_event_path(object),
                class: 'btn btn-primary' %>
    <%= link_to ("<i class='fa fa-trash'></i> " + 'Delete').html_safe,
                event_path(object),
                :method => 'delete',
                :data => { :confirm => 'Are you sure you want to delete this event?' },
                :class => 'btn btn-danger' %>
  <% else %>
    <% if current_user.subscribed_to?(object) %>
      <%= link_to ("<i class='fa fa-minus'></i> " + 'Unsubscribe').html_safe,
                  event_subscribers_path(object),
                  :method => 'delete',
                  :data => { :confirm => 'Are you sure you want to unsubscribe from this event?' },
                  :class => 'btn btn-info' %>
    <% else %>
      <%= link_to ("<i class='fa fa-plus'></i> " + 'Subscribe').html_safe,
                  event_subscribers_path(object),
                  :method => 'create',
                  :class => 'btn btn-info' %>
    <% end %>
  <% end %>
<% end %>
