<small>
  <br>
  <i class='fa fa-calendar-o'></i> <%= format_date(object.date) %>
  <br>
  <i class='fa fa-clock-o'></i> <%= format_time(object.date) %>
  <br>
  <i class='fa fa-map-marker'></i> <%= object.location %>
  <% if object.subscribers %>
    <br>
    <i class='fa fa-users'></i> <%= pluralize(object.subscribers.count, 'subscriber') %>
  <% end %>
</small>
