<%= form_for(@event, :html => { :class => "form-horizontal" }) do |f| %>

  <%= render 'shared/error_messages', object: @event %>

  <div class="form-group">
    <%= f.label :name, :class => 'control-label col-lg-2' %>
    <div class="col-lg-10">
      <%= f.text_field :name, :class => 'form-control' %>
    </div>
  </div>
  <div class="form-group">
    <%= f.label :description, :class => 'control-label col-lg-2' %>
    <div class="col-lg-10">
      <%= f.text_area :description, :class => 'form-control' %>
    </div>
  </div>
  <div class="form-group">
    <%= f.label :location, :class => 'control-label col-lg-2' %>
    <div class="col-lg-10">
      <%= f.text_field :location, :class => 'form-control' %>
    </div>
  </div>
  <div class="form-group">
    <%= f.label :date, :class => 'control-label col-lg-2' %>
    <div class="col-lg-10">
      <%= f.datetime_select :date, :class => 'form-control' %>
    </div>
  </div>
  <div class="form-group">
    <%= f.label :categories, :class => 'control-label col-lg-2' %>
    <div class="boxes col-lg-10">
      <%= f.collection_check_boxes :category_ids, @categories, :id, :name do |cb| %>
        <% cb.label(class: 'checkbox input_checkbox') { cb.check_box(class: 'checkbox') + cb.text } %>
      <% end %>
    </div>
  </div>
  <div class="form-group">
    <div class="col-lg-offset-2 col-lg-10">
      <%= f.submit nil, :class => 'btn btn-primary' %>
      <%= link_to t('.cancel', :default => t("helpers.links.cancel")),
                  root_path, :class => 'btn btn-default' %>
    </div>
  </div>
<% end %>
