<table class="table table-hover">
  <tbody>
  <% @events.each do |event| %>
    <tr class="event-tr">
      <td>
        <h3><%= link_to event.name, event_path(event) %></h3>
        <%= render 'events/details', object: event %>
      </td>
      <td>
        <h3><%= truncate(event.description, :length => 180)  %></h3>
        <% if event.categories.any? %>
          <h3><%= render event.categories %></h3>
        <% end %>
      </td>
    </tr>
  <% end %>
  </tbody>
</table>
