<% provide(:title, @event.name) %>

<h1><%= @event.name %></h1>
<p>
  <%= render 'events/details', object: @event %>
</p>
<% if @event.categories.any? %>
  <small>Categories: <%= render @event.categories %></small>
<% end %>

<h3><%= @event.description %></h3>

<small> Event created by: <%= @event.user.full_name %></small>

<div>
  <%= render 'events/actions', object: @event %>
</div>
<hr>
<%= render 'comments/form', object: @comment %>

<%= render 'comments/list_comments' %>
