<header class="navbar navbar-fixed-top navbar-inverse">
  <div class="container">
    <%= link_to ("<i class='fa fa-calendar-check-o'></i> " + 'EVENTaholic').html_safe, root_path, id: "logo" %>
    <nav>
      <ul class="nav navbar-nav navbar-right">
        <% if logged_in? %>
          <li>
            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
              <%= ('<i class="fa fa-user-circle"></i> ' + truncate(current_user.full_name, length: 25)).html_safe %>
              <span class="caret"></span>
            </a>
            <ul class="dropdown-menu">
              <li><%= link_to "<i class='fa fa-calendar-plus-o'></i> Add event".html_safe, new_event_path %></li>
              <li><%= link_to "<i class='fa fa-calendar-o'></i> Subscribed events".html_safe, events_users_path %></li>
              <% if current_user.is_admin %>
                <li><%= link_to "<i class='fa fa-cog'></i> Manage users".html_safe, users_path %></li>
              <% end %>
              <li><%= link_to "<i class='fa fa-power-off'></i> Log out".html_safe, logout_path, method: :delete %></li>
            </ul>
          </li>
        <% else %>
          <li><%= link_to "<i class='fa fa-lock'></i> Log in".html_safe, login_path %></li>
        <% end %>
      </ul>
    </nav>
  </div>
</header>
